<h2>New Coupon: </h2>

<%= form_tag coupons_path do %>
    <label>Coupon code: </label>
    <%= text_field(:coupon, :coupon_code) %>
    <br>
    <label>Store: </label>
    <%= text_field(:coupon, :store) %>
    <br>
    <%= submit_tag "Submit Coupon" %>
<% end %>
